* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    color: #FFF59D;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.container-principal {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.menu-lateral {
    width: 280px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #A0AEC0;
    padding: 14px 20px;
    border-radius: 12px;
    font-weight: 500;
}

a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05); 
}

.ativo {
    background-color: #FFF59D;
    color: #2D3748 !important;
     font-weight: 600;

}

.conteudo-principal {
    flex-grow: 1;
    background-color: #F4F6F8;
    overflow-y: auto;
    padding: 40px;
}