@if (usuarioLogado) {
  <div class="container-principal">

    <aside class="menu-lateral">
      <div class="logo-container">
        <h1 class="logo">
          Alquimia
        </h1>
        <span class="subtitulo-logo">
          Face & Sorriso
        </span>
      </div>

      <a routerLink="/dashboard" routerLinkActive="ativo">
        Dashboard
      </a>

      <a routerLink="/consultas" routerLinkActive="ativo">
        Consultas
      </a>

      <a routerLink="/pacientes" routerLinkActive="ativo">
        Pacientes
      </a>

      <a routerLink="/dentistas" routerLinkActive="ativo">
        Dentistas
      </a>

      <a routerLink="/especialidades" routerLinkActive="ativo">
        Especialidades
      </a>

      <a routerLink="/relatorios" routerLinkActive="ativo">
        Relatórios
      </a>

      @if (usuarioLogado.perfil === 'ADMIN') {
        <a routerLink="/usuarios" routerLinkActive="ativo">
          Usuários
        </a>
      }
      
    </aside>

    <main class="conteudo-principal">
      <div class="topbar">
        <input
          type="text"
          placeholder="Pesquisar..."
          class="campo-busca"
        />

        <div class="usuario" (click)="sair()" style="cursor: pointer;" title="Clique para sair">
          {{ usuarioLogado.nome }} (Sair)
        </div>
      </div>

      <router-outlet></router-outlet>

    </main>
  </div>
} @else {
  <router-outlet></router-outlet>
}