* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo-principal {
    flex-grow: 1;
    background: #F4F6F8;
    padding: 0 40px 30px 40px;
    overflow-y: auto; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.logo-container {
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;


}

.logo {

    color: #FFF59D;

    font-size: 25px;

    font-weight: 700;
    text-align: center;

;

}

.subtitulo-logo {

    color: #A0AEC0;

    font-size: 20px;
    text-align: center;


}

.container-principal {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.menu-lateral {
   width: 280px;

    background: black;

    padding: 30px 20px;

    display: flex;

    flex-direction: column;
}

.menu-lateral a {

    margin-bottom: 10px;

}

a {
    text-decoration: none;
    color: #A0AEC0;
    padding: 14px 20px;
    border-radius: 12px;
    font-weight: 500;
}

a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05); 
}

.ativo {
    background-color: #FFF59D;
    color: #2D3748 !important;

    font-weight: 700;

    box-shadow: 0 4px 10px rgba(255,245,157,.4);
}


.topbar {

    background: white;
    height: 80px;
    border-radius: 16px;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.campo-busca {

    width: 600px;
    max-width: 60%;
    height: 42px;
    padding: 0 15px;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    outline: none;
}


.campo-busca:focus {
    border-color: #FFF59D;
}

.usuario {

    background: #FFF59D;

    padding: 12px 20px;

    border-radius: 10px;

    font-weight: 600;

    color: #2D3748;
    width: auto;
}