.dashboard h1 {
    margin-bottom: 30px;
    color: #1A202C;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background:#FFF59D;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.card h3 {
    color: #718096;
    font-size: 16px;
}

.card span {
    display: block;
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #2D3748;
}